# See https://help.github.com/ignore-files/ for more about ignoring files.

# generated assets
.next/
.now/
dist/
server-nest/schema.gql
server-nest/reports/
ui-rs/target/
ui-rs/crates/mines_uirs/target/

# dependencies
node_modules/
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# testing
coverage/

# editors
.vscode/settings.json
.idea/

# production
build/

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
